@font-face {
	font-family: 'mononoki';
	src: url('fonts/mononoki-Regular.eot') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/mononoki-Regular.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/mononoki-Regular.woff') format('woff'), /* Pretty Modern Browsers */
	url('fonts/mononoki-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'mononoki';
	src: url('fonts/mononoki-Bold.eot?') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/mononoki-Bold.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/mononoki-Bold.woff') format('woff'), /* Pretty Modern Browsers */
	url('fonts/mononoki-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'mononoki';
	src: url('fonts/mononoki-Italic.eo') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/mononoki-Italic.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/mononoki-Italic.woff') format('woff'), /* Pretty Modern Browsers */
	url('fonts/mononoki-Italic.ttf')  format('truetype'); /* Safari, Android, iOS */
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'mononoki';
	src: url('fonts/mononoki-BoldItalic.eot') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/mononoki-BoldItalic.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/mononoki-BoldItalic.woff') format('woff'), /* Pretty Modern Browsers */
	url('fonts/mononoki-BoldItalic.ttf')  format('truetype'); /* Safari, Android, iOS */
	font-weight: bold;
	font-style: italic;
}	/*mononoki is the best font*/

html {
	position: relative;
	min-height: 100%;
}

body {
	font-family: "mononoki";
	word-wrap: break-word;
	background-color: #aa92ff;
	color: #f5f5f5;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: auto;
	padding-right: auto;
	margin: 0px;
}

.image {
	max-width: 100%;
	height: auto;
}

.fortyTwo {
}

.title {
	font-size: 80px;
	display: flex;
	flex-shrink: 0;
	justify-content: center;
	padding: 15px;
	margin: 15px;
}
/*Title font scaling*/

@media screen and (min-width: 911px) {
	.title {
		font-size: 80px;
	}
}
@media screen and (max-width: 910px) {
	.title {
		font-size: 60px;
	}

}
.titleText {			/*title text*/
	font-size: 1em;
	text-align: center;
	border-bottom: 5px solid #FFFFFF;
}

.idk {				/*menu + content*/
	display: flex;
	align-self: center;
	max-width: 1337px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 15px;
	flex-wrap: wrap;
}

.clickClickButtons {		/*menu div*/
	font-size: 24px;
	padding: 0px;
	margin: 15px;
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: auto;
}
.clickButtons {			/*menu <ul>*/
	padding-top: 24px;
	padding-bottom: 24px;
	padding-left: 30px;
	padding-right: 30px;
	margin: 0px;
	background-color: #c792ff;
	border-radius: 15px;
}
.clickButtons > li {		/*menu text*/
	list-style-type: none;
}
.clickButtons > li > a {	/*menu links*/
	color: #f5f5f5;
	display: block;
	padding: 3px;
	margin-top: 6px;
	margin-bottom: 6px;
}
.clickButtons > li > a:hover {	/*menu links on hover*/
	font-weight: bold;
	color: #ffffff;
}

.stuff {			/*content*/
	font-size: 20px;
	padding: 15px;
	margin: 15px;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 620px;
}

.programmingSocks {		/*footer*/
	position: absolute;
	bottom: 0px;
	width: 100%;
	text-align: center;
}
